@media(max-width 500px)
  .main-header
    padding-top 5rem
    margin-bottom 4rem
  .hero
    &__title
      font-size 2.6rem
      font-weight 600
      margin-bottom 2rem
    &__subtitle
      font-size 1.6rem
  h4
    font-size 1.8rem
    font-weight 600
    line-height 1.4
  .question
    &-header
      margin-bottom 1rem
    &__number
      margin-right 1rem
      transform translateY(2px)
    .radio
      padding-left 5rem